/* Yekan Bakh  */
@font-face {
  font-family: "yekan";
  font-style: normal;
  font-weight: normal;
  src: url("./YekanBakh-Regular.woff") format("woff"),
    url("./YekanBakh-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "yekan";
  font-style: normal;
  font-weight: bold;
  src: url("./YekanBakh-Bold.woff") format("woff"),
    url("./YekanBakh-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "yekan";
  font-style: normal;
  font-weight: 800;
  src: url("./YekanBakh-ExtraBlack.woff") format("woff"),
    url("./YekanBakh-ExtraBlack.woff2") format("woff2");
}

/* Yekan Bakh  */
